.carrer {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--border-color);

  &Img {
    [class*='swiper-slide'] {
      border: 1px solid var(--border-color);
    }

    [class*='swiper-slide-thumb-active'] {
      border: 1px solid var(--text-primary);
    }
  }

  &Attr {
    span {
      &::before {
        content: '';
        background-color: #e94560;
        width: 5px;
        height: 5px;
        border-radius: 5px;
      }
    }
  }

  &Desc {
    color: var(--text-third);
  }

  &Skill {
    li {
      background-color: var(--bg-tag);
      color: var(--text-secondary);
    }
  }

  &Result {
    background-color: var(--bg-primary);
    // border: 1px solid var(--border-color);
    border: 1px solid rgba(79, 158, 255, 0.2);

    &Head {
      background-color: rgba(79, 158, 255, 0.1);
      // border-bottom: 1px solid var(--border-color);
      border-bottom: 1px solid rgba(79, 158, 255, 0.2);
    }

    &Dot {
      &:first-child {
        background-color: #ef4444;
      }

      &:nth-child(2) {
        background-color: #f59e0b;
      }

      &:last-child {
        background-color: #22c55e;
      }
    }

    li {
      color: var(--text-secondary);

      &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--text-secondary);
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  &Url {
    background-color: var(--bg-tag);
  }
}
