.carrer {
  &Img {
    [class*='swiper-slide-thumb-active'] {
      border: 1px solid var(--text-primary);
    }
  }

  &Attr {
    span {
      &::before {
        content: '';
        background-color: #e94560;
        width: 5px;
        height: 5px;
        border-radius: 5px;
      }
    }
  }

  &Desc {
    color: var(--text-third);
  }

  &Skill {
    li {
      background-color: var(--bg-tag);
      color: var(--text-secondary);
    }
  }

  &Result {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);

    &Head {
      border-bottom: 1px solid var(--border-color);
    }

    &Dot {
      &:first-child {
        background-color: #ef4444;
      }

      &:nth-child(2) {
        background-color: #f59e0b;
      }

      &:last-child {
        background-color: #22c55e;
      }
    }

    li {
      color: var(--text-secondary);
    }
  }

  & + .carrer {
    margin-top: 80px;
  }
}
