.contact {
  &Item {
    > a {
      border-color: var(--border-color);
      transition: all 0.3s ease-out;

      &:hover {
        border-color: #2dd4bf;
        box-shadow: 0 8px 30px rgba(94, 234, 212, 0.1);
        transform: translateY(-10px);
      }
    }

    b {
      color: var(--text-secondary);
    }
  }

  &Icon {
    > svg {
      fill: var(--text-primary);
    }
  }
}
