@import 'tailwindcss';
@import '../styles/theme.scss';

html,
body {
  font-size: 10px;
  font-family: 'pretendard', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

button {
  cursor: pointer;
}

.wrap {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background: url('/images/bg/bg2.jpg') no-repeat center / cover;

  .typing {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: 50px;
    overflow: hidden;
    font-size: 50px;
    white-space: pre-line;
  }
}

.item {
  padding: 54px 0;
  scroll-margin-top: 54px;
}

.btn-darkmode {
  box-shadow: 0 0 12px var(--color-box-shadow);
  background-color: var(--color-bg);
}

.thumb {
  &-modal {
    background-color: var(--color-bg);
  }

  &-content {
    background-color: var(--color-bg);
    color: var(--color-text);
    height: 350px;
    overflow-y: auto;
  }
}

.timeline {
  &-line {
    background-color: var(--color-bg-gray);

    &-active {
      background-color: var(--color-bg-black);
    }
  }

  &-item {
    color: var(--color-text);

    &-dot {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
