@import 'tailwindcss';
@import '../styles/theme.scss';

html,
body {
  font-size: 62.5%;
  font-family: 'pretendard', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}

.wrap {
  background: url('/images/bg/bg2.jpg') no-repeat center / cover;
}

.btn-darkmode {
  box-shadow: 0 0 12px var(--color-box-shadow);
  background-color: var(--color-bg);
}

.thumb {
  &-modal {
    background-color: var(--color-bg);
  }

  &-content {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

.timeline {
  &-line {
    background-color: #e5e7eb;

    &-active {
      background-color: var(--color-timeline-active);
    }
  }

  &-item {
    &-dot {
      background: var(--color-timeline-active);
    }

    &-con {
      color: #1c1e24;
      border-color: #1c1e24;
      background-color: #fefefe;
    }

    &:nth-child(2n) {
      .timeline-item-con {
        margin-left: auto;
      }
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
