@import 'tailwindcss';
@import '../styles/theme.scss';

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}

.btn-darkmode {
  box-shadow: 0 0 12px var(--color-box-shadow);
  background-color: var(--bg-primary);
}

.content {
  > * {
    background-color: var(--bg-primary);
    &:nth-child(2n) {
      background-color: var(--bg-secondary);
    }
  }
}

.thumb {
  &-modal {
    background-color: var(--bg-primary);
  }

  &-content {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
}

.timeline {
  &-line {
    background-color: #e5e7eb;

    &-active {
      background-color: var(--color-timeline-active);
    }
  }

  &-item {
    &-dot {
      background: var(--color-timeline-active);
    }

    &-con {
      color: #0f172a;
      background-color: #fefefe;
      border: 2px solid var(--color-timeline);
      box-sizing: border-box;
    }

    &:nth-child(2n) {
      .timeline-item-con {
        margin-left: auto;
      }
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
