@import 'tailwindcss';
@import '../styles/theme.scss';

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}

.btn-darkmode {
  box-shadow: 0 0 12px var(--color-box-shadow);
  background-color: var(--bg-primary);
}

.job {
  color: var(--text-secondary);
}

.profile {
  &-image {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    transition: all 0.3 ease;
    animation: floatAnimation 4s ease-in-out infinite;
  }

  svg {
    width: 80px;
    height: 80px;
    color: var(--text-secondary);
  }

  span {
    color: var(--text-secondary);
    font-size: 0.875rem;
  }
}

.content {
  > * {
    background-color: var(--bg-primary);
    &:nth-child(2n) {
      background-color: var(--bg-secondary);
    }
    &:last-child {
      min-height: fit-content;
    }
  }
}

.thumb {
  &-modal {
    background-color: var(--bg-primary);
  }

  &-content {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
}

.timeline {
  &-line {
    background-color: #e5e7eb;

    &-active {
      background-color: var(--color-timeline-active);
    }
  }

  &-item {
    &-dot {
      background: var(--color-timeline-active);
    }

    &-con {
      color: #0f172a;
      background-color: #fefefe;
      border: 2px solid var(--color-timeline);
      box-sizing: border-box;
    }

    &:nth-child(2n) {
      .timeline-item-con {
        margin-left: auto;
      }
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
