.skill {
  &Item {
    > div {
      border-color: var(--border-color);
      transition: border 0.3s ease-out;

      &:hover {
        border-color: #2dd4bf;
        box-shadow: 0 8px 30px rgba(94, 234, 212, 0.1);

        .skillIcon {
          transform: rotate(-25deg);
        }
      }
    }

    p {
      color: var(--text-secondary);
    }
  }

  &Icon {
    background-color: var(--bg-accent);
    transition: all 0.3s ease-out;

    svg {
      color: var(--text-accent);
    }
  }

  &Tag {
    background-color: var(--bg-tag);
    color: var(--text-secondary);
  }
}
