/* Light theme (default) */
:root {
  // common
  --color-bg: #ffffff;
  --color-bg-black: #1c1e24;
  --color-text: #111827;
  --color-box-shadow: rgba(0, 0, 0, 0.4);

  // timeline
  --color-timeline: #e5e7eb; // timeline
  --color-timeline-active: #1c1e24; // timeline active, dot
}

/* Dark theme */
html.dark {
  // common
  --color-bg: #1c1e24;
  --color-bg-black: #ffffff;
  --color-text: #e8e8e8;
  --color-box-shadow: rgba(255, 255, 255, 0.4);

  // timeline
  --color-timeline: #f5f5f5; // timeline
  --color-timeline-active: #57534d; // timeline active, dot
}
