/* Light theme (default) */
:root {
  --color-bg: #ffffff;
  --color-text: #111827; // gray-900
  --color-muted: #6b7280; // gray-500
  --color-border: #e5e7eb;
  --color-box-shadow: rgba(0, 0, 0, 0.4);
}

/* Dark theme */
html.dark {
  --color-bg: #000000; // gray-900
  --color-text: #f9fafb; // gray-50
  --color-muted: #9ca3af; // gray-400
  --color-border: #374151;
  --color-box-shadow: rgba(255, 255, 255, 0.4);
}
