/* Light theme (default) */
:root {
  --color-bg: #ffffff;
  --color-bg-gray: rgb(229, 231, 235);
  --color-bg-black: #000000;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-box-shadow: rgba(0, 0, 0, 0.4);
}

/* Dark theme */
html.dark {
  --color-bg: #000000;
  --color-bg-gray: rgb(255, 255, 255);
  --color-bg-black: #ffffff;
  --color-text: #f9fafb;
  --color-muted: #9ca3af;
  --color-border: #374151;
  --color-box-shadow: rgba(255, 255, 255, 0.4);
}
