/* Light theme (default) */
:root {
  // bg
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fa;

  // text
  --text-primary: #0f172a;
  --text-secondary: #64748b;

  // border
  --border-color: #e2e8f0;

  // shadow
  --color-box-shadow: rgba(0, 0, 0, 0.4);

  // timeline
  --color-timeline: #e5e7eb; // timeline
  --color-timeline-active: #1c1e24; // timeline active, dot
}

/* Dark theme */
html.dark {
  // bg
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;

  // text
  --text-primary: #f8f9fa;
  --text-secondary: #94a3b8;

  // border
  --border-color: #334155;

  // shaodw
  --color-box-shadow: rgba(255, 255, 255, 0.4);

  // timeline
  --color-timeline: #0d9488; // timeline
  --color-timeline-active: #0d9488; // timeline active, dot
}
