/* Light theme (default) */
:root {
  // common
  --bg-primary: #ffffff;
  --color-text: #0f172a;
  --color-box-shadow: rgba(0, 0, 0, 0.4);

  // timeline
  --color-timeline: #e5e7eb; // timeline
  --color-timeline-active: #1c1e24; // timeline active, dot
}

/* Dark theme */
html.dark {
  // common
  --bg-primary: #0f172a;
  --color-text: #f8f9fa;
  --color-box-shadow: rgba(255, 255, 255, 0.4);

  // timeline
  --color-timeline: #0d9488; // timeline
  --color-timeline-active: #0d9488; // timeline active, dot
}
